#topContent,
#otherContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#topContent {
  background-image: url('../../assets/bkg.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--contentWidth);
}

@media only screen and (min-width: 700px) {
  #topContent {
    background-position: center -100px;
    background-size: 110%;
  }
}

@media (prefers-color-scheme: dark) {
  #topContent {
    background-image: url('../../assets/bkg-dark.svg');
  }
}

/* Landing slide */
#landing {
  display: flex;
  align-items: center;
  margin-top: 10vh;
  height: 90vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 512px;
}

.landingLogo {
  width: 50vw;
  max-width: 512px;
  opacity: 0;
  animation: fadeIn 1s ease-in 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.landingInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shortLogo2020 {
  width: 90%;
  height: 200px;
  min-width: 40%;
  max-width: 512px;
  background-image: url('../../assets/shortLogo2020.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.eventInfo {
  margin: 10px 0;
}

.notice {
  color: #888888;
  font-style: italic;
}

@media only screen and (min-width: 700px) {
  #landing {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 18vh;
  }

  .landingInfo {
    align-items: flex-end;
    text-align: right;
  }

  .landingButtons {
    margin: 20px;
    margin-right: -15px;
  }
}

@media (prefers-color-scheme: dark) {
  .shortLogo2020 {
    background-image: url('../../assets/shortLogo2020-dark.svg');
  }
}

/* Hackathon Definition and volunteer slides */
#hackathonDefinition,
#volunteer {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.explanationLeft,
.explanationRight {
  flex: 1;
  text-align: center;
}

.feature {
  display: flex;
  flex: 0.8;
  margin: 0 15vw;
}

#richcraft {
  align-self: stretch;
  background-image: url('../../assets/richcraft.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 700px) {
  #hackathonDefinition {
    flex-direction: row-reverse;
  }

  #volunteer {
    flex-direction: row;
  }

  .explanationLeft {
    text-align: right;
  }

  .explanationRight {
    text-align: left;
  }

  .feature {
    margin: -5vw 5vw;
  }
}

/* Frequently Asked Questions */
#faq {
  display: flex;
  align-items: flex-start;
  margin-bottom: 75px;
}

/* Sponsors slide */
.tier {
  width: 100%;
  margin-bottom: 75px;
}

.logo {
  transition: 0.2s;
}

.logoSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Giga tier */
#rbc,
#martello,
#rossVideo {
  display: flex;
  height: 325px;
  margin-bottom: 75px;
  width: 100%;
}

#rossVideo {
  /* width: 80%; */
}

/* Mega tier */
#ciena,
#marchNetworks,
#cse,
#fullscript,
#lighthouseLabs,
#caseWare,
#deloitte {
  width: 80%;
}

#ciena,
#marchNetworks,
#cse,
#fullscript,
#lighthouseLabs {
  margin-bottom: 75px;
}

/* Kilo tier */
#balsamiq,
#fdmGroup,
#kinaxis {
  width: 51%;
  margin-bottom: 75px;
}

/* In Kind */
#onePassword,
#digitalOcean,
#ea,
#jetbrains,
#sketch,
#stickermule,
#voiceflow,
#wolfram {
  width: 30%;
  margin: 0 5vw 75px;
}

/* Partners */
.partnerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  padding: 20px;
}

#SCSLogo,
#SCELogo,
#MLHLogo {
  width: 50%;
}

@media only screen and (min-width: 700px) {
  .logo {
    transition: 0.2s;
  }

  .logo:hover {
    scale: 1.05;
  }

  .logoSection {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }

  /* Giga tier */
  #rbc,
  #martello,
  #rossVideo {
    margin-bottom: 0;
  }

  /* Mega tier */
  #ciena,
  #cse,
  #fullscript,
  #lighthouseLabs,
  #deloitte {
    width: 30%;
  }

  #marchNetworks,
  #caseWare {
    width: 45%;
  }

  #ciena,
  #marchNetworks,
  #cse {
    margin: 0 30px;
  }

  #fullscript,
  #lighthouseLabs {
    margin: 0 40px;
  }

  #fullscript {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  /* Kilo tier */
  #balsamiq {
    width: 18%;
    margin: 0 25px;
  }

  #fdmGroup {
    width: 18%;
    margin: -25px 25px 10px;
  }

  #kinaxis {
    width: 25%;
    margin: -25px 25px 0;
  }

  /* In Kind tier */
  #onePassword,
  #digitalOcean,
  #sketch,
  #stickermule,
  #voiceflow {
    width: 15%;
    margin: 0 20px;
  }

  #ea,
  #jetbrains,
  #wolfram {
    width: 8%;
    margin: 0 20px;
  }

  /* Partners */
  #SCSLogo,
  #SCELogo,
  #MLHLogo {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  #partners {
    background-color: white;
    border-color: var(--secondaryColour);
    border-style: solid;
  }

  #deloitte {
    stroke-width: 0.5px;
    stroke: white;
  }

  #martello,
  #cse,
  #lighthouseLabs,
  #sketch,
  #caseWare {
    stroke-width: 1px;
    stroke: white;
  }

  #marchNetworks,
  #fdmGroup {
    stroke-width: 3px;
    stroke: white;
  }

  #ea,
  #wolfram {
    stroke-width: 5px;
    stroke: white;
  }

  #voiceflow {
    stroke-width: 20px;
    stroke: white;
  }
}
