.container {
 display: flex; 
 flex-direction: column; 
 align-items: center;
}

.container > h2 {
  margin-bottom: 0; 
}

.loginPage {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%; 
}
