.container {
 display: flex; 
 flex-direction: column; 
 align-items: center;
}

.container > h2 {
  margin-bottom: 0; 
}

.loginPage {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/login-bkg.svg');
  background-position: center;
  background-size: cover;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%; 
}

@media (prefers-color-scheme: dark) {
  .loginPage {
    background-image: url('../../assets/login-bkg-dark.svg');
  }
}