.button,
.disabled,
.solidButton,
.solidDisabled {
  display: inline-block;
  padding: 12px 15px;
  margin: 15px;
  font-size: 18px;
  border: 2px solid var(--primaryColour);
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;
  transition: 0.2s;
  user-select: none;
}

.button {
  background-color: var(--backgroundColour);
  color: var(--primaryColour);
}

.disabled {
  background-color: var(--backgroundColour);
  border-color: #999999;
  color: #999999;
}

.solidButton {
  user-select: none;
  background-color: var(--primaryColour);
  color: white;
}

.solidDisabled {
  user-select: none;
  background-color: #999999;
  border-color: #999999;
  color: white;
}

@media only screen and (min-width: 700px) {
  .button:hover {
    background-color: var(--primaryColour);
    color: white;
    cursor: pointer;
  }

  .solidButton:hover {
    background-color: var(--darkPrimaryColour);
    border-color: var(--darkPrimaryColour);
    color: white;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .button,
  .solidButton {
    border-color: var(--secondaryColour);
  }

  .button {
    background-color: var(--backgroundColour);
    color: var(--secondaryColour);
  }

  .solidButton {
    user-select: none;
    background-color: var(--secondaryColour);
    color: white;
  }

  @media only screen and (min-width: 700px) {
    .button:hover {
      background-color: var(--secondaryColour);
      color: var(--backgroundColour);
    }
  }
}
