.nomargin p {
  font-family: 'M PLUS 1p', sans-serif; 
}


#madeWithLove {
  font-family: 'Reem Kufi', sans-serif;
}

#container {
  padding-top: 20px; 
  padding-bottom: 20px;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkPrimaryColour);
  color: var(--secondTextColour);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 15px; 
}

a {
  color: var(--secondTextColour); 
}

a:hover {
  color: var(--lightPrimaryColour); 
}

#logo {
  width: 120px;
  height: 40px;
  margin-bottom: 2px; 
  background-image: url('../assets/shortLogo-dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} 

#MLHCodeOfConduct  {
  text-decoration: underline;
  color: white;
  transition-duration: 0.3s;
}

#navList {
  margin-left: 10px; 
  list-style: none; 
  text-decoration: none; 
  color: white; 
}

#navList > p {
  margin: 0; 
}

#mailTo {
  text-decoration: underline; 
  color: var(--secondaryColour); 
}

#contentWrapper {
  margin: 25px 0; 
}

#footerDescription {
  order: 1; 
  margin-bottom: 30px; 
}

#contactForm {
  order: 2; 
  margin-bottom: 20px; 
}

#mailingList {
#navList {
  order: 3;
}

.row {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 70%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
}

.footerContent {
  margin-top: 0; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; 
}

.footerHeader {
  font-family: 'Reem Kufi', sans-serif; 
  font-size: 20px;
  margin: 0;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.socialButton {
  margin-right: 25px;
  color: white;
}

.socialButton:hover {
  color: #9756D8;
  transition: 0.2s;
}

.nomargin {
  margin: 0; 
}

.backToTopContainer {
  display: flex;
  justify-content: flex-end;
}


@media only screen and (min-width: 700px) {

  .footerContent {
    width: 30%; 
  }

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column; 
  }

  #container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #MLHCodeOfConduct:hover  {
    color: #7C39BF;
  }

  #footerDescription {
    order: 1; 
    margin-bottom: 0px; 
  }
  
  #contactForm {
    order: 3; 
    margin-bottom: 0px; 
  }
  
  #navList {
    order: 2;
  }

}
