/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.inputContainer {
  padding: 5px;
  margin-right: 1vw;
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.label {
  color: var(--textColour);
  margin: 0;
  margin-top: 0.4em;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.input, .longInput, .selectInput {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none; 
  border-bottom: 1px solid var(--textColour); 
  color: var(--textColour);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 100%; 
}

.longInput {
  resize: none;
  vertical-align: bottom;
}

.selectInput {
  position: relative;
  z-index: 1;
}

option {
  color: black;
}

.checkInput {
  display: flex;
  position: relative;
  margin: 25px 0;
}

.selectContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.selectIcon {
  display: flex;
  position: absolute;
}
