#mailingListText {
  color: var(--textColour);
  font-family: 'M PLUS 1p', sans-serif;
  width: 100%;
  font-size: 1em;
  margin: 0 auto;
}

.emailForm {
  display: flex;
  justify-content: flex-end;
  transition-property: opacity;
  transition-duration: 0.3s;
  white-space: nowrap;
  margin: 10px 0;
}

.emailField {
  height: 40px;
  background-color: white;
  border: 1px solid black;
  border-left: 3px solid #00d0fe;
  color: black;
  font-size: 20px;
  margin-right: 10px;
  padding: 3px 10px;
  width: 80%;
  transition-duration: 0.3ms;
}

.emailField:disabled {
  transition-duration: 0.3s;
  opacity: 0.5;
}

.submitButton {
  opacity: 1;
  width: 48px;
  height: 48px;
  background-color: #5827b8;
  border: 1px solid var(--textColour);
  color: white;
  font-family: Inconsolata;
  font-size: 17px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.submitButton:enabled {
  cursor: pointer;
}

.submitButton:hover:enabled {
  color: white;
}

.submitButton:active:enabled {
  transition-duration: 0s;
  background-color: var(--lightPrimaryColour);
}

.submitButton:disabled {
  transition-duration: 0.3s;
  opacity: 0.2;
}

.after {
  opacity: 0;
}

.errorMessage {
  text-align: right;
  font-family: 'M PLUS 1p', sans-serif;
  color: red;
}

.dialogText {
  text-align: right;
  font-family: 'M PLUS 1p', sans-serif;
  color: var(--textColour);
}

@media (orientation: portrait) {
  .errorMessage {
    text-align: center;
  }

  .dialogText {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .emailField {
    color: white;
    border-color: #919191;
    background-color: rgba(255, 255, 255, 0);
    border-left: 3px solid #00d0fe;
  }
}
