#container {
  display:block;
  max-width: 90px;
  min-width:60px;
  position:fixed;
  right:20px;
  top:0;
  width:5%;
  z-index:10000;
}

#banner {
  width: 100%; 
}

@media only screen and (min-width: 700px) {
  #container {
    width:10%; 
    right: 60px;
  }
}