/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.inputContainer {
  padding: 5px;
  margin-right: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--textColour);
  margin: 0;
  margin-top: 0.4em;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14px;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--textColour);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  width: 100%;
}

.passwordField {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--textColour);
}

.visibilityToggle {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: var(--textColour);
  opacity: 0.5;
  transition-duration: 0.3ms;
}

.visibilityToggle:hover {
  opacity: 1;
}
