.container {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-left: 10px; 
}

.socialButton {
  margin-left: 15px;
  color: var(--textColour);
}

.socialButton:hover {
  color: var(--primaryColour); 
  transition: 0.2s; 
}
