.container {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
}

.socialButton {
  margin-left: 15px;
  color: white;
}

.socialButton:hover {
  color: #9756D8; 
  transition: 0.2s; 
}
