* {
  --textColour: #000000;
  --secondTextColour: #FFFFFF; 
  --lightPrimaryColour: #9756D8; 
  --primaryColour: #7C39BF;
  --darkPrimaryColour: #280749;
  --secondaryColour: #00D0FE;
  --backgroundColour: white; 
}

a {
  text-decoration: none; 
  font-size: inherit; 
  font-family: inherit;
  color: var(--lightPrimaryColour);
}

html, body {
  overflow-x: hidden;
  width: 100vw; 
  min-width: 335px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; 
  color: var(--textColour);
  background-color: var(--backgroundColour);
  font-family: 'Montserrat', sans-serif;
}



h2 {
  font-family: 'Reem Kufi', sans-serif;
}

#root {
  background-color: var(--backgroundColour); 
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  * {
    --textColour: #FFFFFF;
    --secondTextColour: #FFFFFF; 
    --lightPrimaryColour: #9756D8; 
    --primaryColour: #7C39BF;
    --darkPrimaryColour: #280749;
    --secondaryColour: #00D0FE;
    --backgroundColour: black; 
  }

  a {
    color: var(--secondaryColour);
  }
}
