a {
  text-decoration: none; 
  display: inline-flex; 
}

html, body {
  min-width: 335px; 
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vh; 
  /* Big Raven */ 
  background-image: url('./images/trimmedLogoV3.png');
  background-position: right; 
  background-repeat: no-repeat; 
  background-size: contain; 
  overflow: hidden; 
  min-height: 300px; 
}


#wrapper {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: nowrap; 
}

.content {
  margin-left: 2%; 
  height: 98vh; 
  max-width: 50vw; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;  
}

.heading {
  font-size: 150%; 
  font-family: 'Inconsolata', monospace;
}

.navbar {
  width: 100%;
  z-index: 1; 
}

.row {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;  
}

#logo {
  margin-top: 2%; 
}

canvas {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: 0; 
}

img.socialLink {
  margin-left: 8px;
  margin-right: 8px; 
  opacity: .3; 
  transition: 0.3s; 
}

img.socialLink:hover {
  opacity: 1; 
}

@media screen and (max-width: 890px) and (min-height: 400px)  {

  body { 
    background-image: url('./images/trimmedLogoV2.png'); 
    background-position: bottom right;
    background-size: 40vw auto; 
  } 

  .content {
    max-width: 100vw; 
    justify-content: flex-start; 
  }

  .heading {
    font-size: 150%; 
    overflow: visible; 
    white-space: nowrap; 
    z-index: 100; 
  }

  .bottom {
    display: flex;
    align-self: flex-end;   
  }

}



@media screen and (max-width: 890px) and (min-height: 600px)  {

  body { 
    background-image: url('./images/trimmedLogoV2.png'); 
    background-position: bottom right;
    background-size: 65vw auto; 
  } 

  .content {
    max-width: 100vw; 
    justify-content: flex-start; 
  }

  .heading {
    font-size: 150%; 
    overflow: visible; 
    white-space: nowrap; 
    z-index: 100; 
  }

  .bottom {
    display: flex;
    align-self: flex-end;   
  }

}
