.lightTheme {
  --textColour: #0C0F0A;
  --lightPrimaryColour: #8668aa;
  --primaryColour: #7C39BF;
  --darkPrimaryColour: #31263E;
  --secondaryColour: #7DB0E8;
  --spaceColour: #FFFFFF;
  --logo: url(assets/images/cuHackingLogo-purple.svg);
  --promo: url(assets/images/promoText-black.svg);
}

.darkTheme {
  --textColour: #FFFFFF;
  --lightPrimaryColour: #8668aa;
  --primaryColour: #9756D8;
  --darkPrimaryColour: #31263E;
  --secondaryColour: #7DB0E8;
  --spaceColour: #0C0F0A;
  --logo: url(assets/images/cuHackingLogo-white.svg);
  --promo: url(assets/images/promoText-white.svg);
}

a {
  display: inline-flex;
  text-decoration: none;
}

html, body {
  min-width: 335px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  font-family: 'Reem Kufi', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/ 

* {
  font-family: 'Reem Kufi', sans-serif; 
}

/*
body {
  height: 100vh;
  width: 100vw; 
  overflow: hidden;
  position: relative;
  min-height: 300px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}*/ 

input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none; 
}

.navbar {
  align-items: center; 
  display: flex; 
  justify-content: space-between; 
  margin: 15px; 
  margin-right: 150px; 
}

.nav-links {
  display: flex; 
  justify-content: space-evenly; 
  width: 150%; 
}

.nav-links > li {
  list-style-type: none;  
}

.nav-item {
  font-family: 'Reem Kufi', sans-serif; 
  font-style: normal;
  font-weight: normal;
  border-bottom: #280749 2px solid; 
  transition-duration: 3ms; 
  text-align: right; 
}

.nav-item:active {
  border-bottom-color: #00D0FE; 
}

.nav-logo {
  width: 20%; 
}

.slide {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 100vw; 
}

.landing-logo {
  width: 80%; 
}

.landing-bottom {
  display: flex;
  justify-content: center; 
  width: 100%; 
}


/* These properties are specified by MLH's brand guidelines, don't touch them. */ 
#MLHBanner {
  width: 100%; 
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:50px;
  top:0;
  width:10%;
  z-index:10000;
}

/* 
#content {
  display: flex;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  position: relative;
}

#logo {
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 125vh;
  height: 125vh;
  position: absolute;
  top: 40vh;
  left: 60vw;
}

#promoSpace {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  max-width: 100vh;
  padding-left: 15px;
  padding-bottom: 30px; 
}

#promo {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

@media all and (orientation:portrait) {

  body {
    overflow: overflow-y; 
  }

  #content {
    padding-top: 10%; 
  }

  #promoSpace {
    flex: unset;
    max-width: 85vw;
    margin-bottom: -3rem;
  }

  #logo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 125vw;
    height: 125vw;
    position: absolute;
    top: 50vh;
    left: 20vw;
  }
}
*/